* {
    font-family: 'Roboto Mono', monospace;;
}

.logo h2 {
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem 6rem;
    align-items: center; /*alinha verticalmente ao centro*/
    background: #3c40c6;
}

.nav-list ul {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-left: 2rem;
}

.nav-item a {
    color: white;
}

section {
    padding-top: 2rem;
    padding-left: 1rem;
}

h3 {
    padding-top: 2rem;
}

.team p {
    margin: 0.5rem;
}

.hard-skills {
    display: block;
}

.soft-skills {
    display: block;
}

.team-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer > p {
    padding: 1.5rem;
    background: #3c40c6;
    text-align: center;
    color: #fff
}